<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Scrabblicious!</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Scrabblicious!</h1>
                <h2>Give us your letters, we've got your number.</h2>
            </div>
            <div class="container main">
                <div class="row">
                    <div class="col-md-6">
                        <form name="input-form" action="/calc-score" method="post">
                            <div class="form-group">
                                <label for="word">Enter a word: </label>
                                <input type="text" name="word" placeholder="ex: xylophone" required></input>
                                <button type="submit" name="submit-button" class="btn btn-primary">Score me!</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
