<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Scrabblicious!</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron">
                <h1>Scrabblicious!</h1>
                <h2>Give us your letters, we've got your number.</h2>
            </div>
            <div class="container main">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Here's your score: {{ total_score }}</h2>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>
